*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"slnt" 0;
}
body{
  background-color: #DBDBDB;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.temp-cards {
  width: 80%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  white-space: nowrap;
}

.temp-cards::-webkit-scrollbar {
  display: none; /* إخفاء شريط التمرير */
}

.tpcs {
  min-width: 200px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}

button {
  background: #0f9a88;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0f9a8766;
}
