*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: "Cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"slnt" 0;
}
html{
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}
a{
  text-decoration: none;
}
header{
  position: fixed;
  top: 0px;
  left: 0vw;
  width: 100vw;
  height: 8vh;
  z-index: 3;
}
header nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: rgba(0, 204, 255, 0.168); */
  /* box-shadow:  rgba(0, 204, 255, 0.775) 0px 0px 5px 5px; */
  /* border-bottom:#18c9ff solid 3px; */

  padding-left: 10vw;
  padding-right: 10vw;
  backdrop-filter: blur(5px);
}
.b-n{
  border:#18c9ff solid 3px;
  background-color: #18c9ff56;
  /* margin-left: 35%; */
  /* border-radius: 5px 100px 5px 100px; */
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
header nav .logo{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  /* background-color: rgb(77, 12, 77); */
  padding-left: 20px;
}
header nav .logo .img{
  background-image: url(../images/venn-diagram.png);
  background-position: center;
  background-size: cover;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #a67070;
  border: #ffffff solid 2px;
  margin-right: 10px;
}
header nav .logo h2 a{
  font-family: "Courgette", serif;
  font-style: normal;
  color: #ffffff;
  font-weight:600;
}
header nav .links{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  /* background-color: rgb(111, 13, 13); */
  list-style: none;
  padding-right: 20px;
  gap: 30px;
  font-size: 20px;
}
header nav .links li{
  cursor: pointer;
  transition: 0.5s;
}
header nav .bnm a{
  text-decoration: none;
  color: #58b1ff;
  font-weight: 600;
  transition: 0.5s;
}
header nav .links a:hover{
  color: #ffffff;
}
header nav .links .nmk{
  transition: 0.5s;
}
header nav .links .nmk:hover{
  color: #ff4a4a;
}
.air-sec{
  /* background-color: #000000; */
  width: 100vw;
  min-height: 20vh;
  position: absolute;
  top: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.air-sec .as{
  background-color: #00181f;
  border: #00607d solid 4px;
  border-top: #ffffff solid 4px;
  border-bottom: #ffffff solid 4px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.air-sec2{
  /* background-color: #000000; */
  width: 100vw;
  min-height: 20vh;
  position: absolute;
  top: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.air-sec2 .as{
  /* background-color: #00181f; */
  border: #ffffff double 4px;
  /* border-top: #ffffff solid 4px;
  border-bottom: #ffffff solid 4px; */
  width: 200px;
  height: 200px;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  animation: circle 5s infinite linear;
}
@keyframes circle {
  0%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.slach{
  margin-left: 10px;
  margin-right: 10px;
}
section{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.jkl{
  border:#18c9ff solid 3px;
  background-color: #18c9ff56;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  cursor: pointer;
}
.jklr a{
  border-bottom:#18c9ff solid 6px;
  margin-left: 20px;
  color: #18c9ff;
  cursor: pointer;
}
.main{
  background-color: rgba(122, 7, 7, 0.199);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main .left{
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 30vh;
  align-items: start;
  justify-content: left;
  /* padding: 30px; */
  padding-left: 10vw;
}
.main .left h1{
  font-size: 50px;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}
.main3{
  /* background-color: rgba(255, 255, 255, 0.199); */
  background-color: rgba(122, 7, 7, 0.199);

  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15vh;
}
.main3 .left{
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  /* padding: 30px; */
  padding-left: 10vw;
}
.main3 .left h1{
  font-size: 50px;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}
.main3 .right{
  width: 50%;
  min-height: 100vh;
  padding: 30px;
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000000; */
}
.main4{
  background-color: rgba(122, 7, 7, 0.199);
  width: 100vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.main4 .left{
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
  /* padding-left: 10vw; */
}
.main4 .left h1{
  font-size: 35px;
  padding: 0px;
  background-color: #00607d;
  border-left: #ffffff solid 10px;
  border-right: #ffffff solid 10px;
  border-radius: 15px;
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0px 0px 10px 0px; */
}
.main4 .m-l-p{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main4 .cards{
  /* background-color: #000000; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.main4 .cards .card{
  background-color: #18c9ff;
  width: 270px;
  height: 340px;
}
#card-1{
  background-image: url(https://cdn.prod.website-files.com/62f0854c1cef28185535ab61/65f9856fa3aa7b7a8214fa6b_simple-1.png);
  background-position: center;
  background-size: cover;
}
#card-2{
  background-image: url(https://www.resumetemplates.com/wp-content/uploads/2024/03/ATS-Friendly-Resume-Templates-and-Examples.pdf.jpeg);
  background-position: center;
  background-size: cover;
}
#card-3{
  background-image: url(https://www.careerreload.com/wp-content/smush-webp/2018/04/free-resume-template-emily.jpg.webp);
  background-position: center;
  background-size: 135%;
}
#card-4{
  background-image: url(https://cdn.create.microsoft.com/catalog-assets/en-us/f81d6387-e06d-4719-9d92-8189f7582b1f/thumbnails/616/ats-bold-accounting-resume-modern-simple-1-1-ff4c1d9e2bd1.webp);
  background-position: center;
  background-size: cover;
}
.info-cards{
  /* background-color: #000000; */
  width: 100%;
  height: 500px;
  /* margin-top: 100px; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}
.info-cards .ic{
  /* background-color: #00607d; */
  /* border: #00000000 solid 10px; */
  border-bottom: #000000 solid 10px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-image: url(https://cdn-icons-gif.flaticon.com/15578/15578439.gif);
  background-position: center;
  background-size: cover;
}
.ats{
  /* background-color: #0086ae70; */
  min-height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  font-size: 40px;
}
.vbn2{
  font-size: 20px;
}
.m-l-p{
  padding: 10px;
  border-radius: 20px;
  max-width: 650px;
}
.main .right{
  width: 50%;
  height: 100vh;
  padding: 30px;
  display: none;
}
.main-cover{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  /* background-image: url(../videos/Untitled\ video\ -\ Made\ with\ Clipchamp.gif); */
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
}
.main-cover video{
  width: 179.5vw;
  height: 200vh;
}
/* section2 */
.main2{
  background-color: rgba(0, 0, 0, 0.638);
  /* box-shadow:   rgba(42, 131, 151, 0.638)  0px 0px 20px 20px; */
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-top: #000000 solid 10px;
}
.main2 .left{
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
  padding-left: 12vw;
}
.main2 .left h1{
  font-size: 50px;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}
.vbn2{
  font-size: 20px;
  /* background-color: aqua; */
}
.vbn{
  font-size: 50px;
  color: #ff4242;
}
.main2 .right{
  width: 50%;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
.main2 .right h2{
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}
.fgh{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.fgh2{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.cvb{
  color: #18c9ff;
}
.footer{
  width: 100vw;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.638);

}
.fota{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #8f8f8f;
  font-size: 13px;
  width: 80vw;
  margin-left: 10vw;
  height: 8vh;
  /* background-color: #000000ac; */
  border-radius: 20px 20px 0px 0px;
}
#epoo{
  font-size: 20px;
}
@media (max-width:1000px) {
  header nav .links{
    display: none;
  }
  header nav .logo{
    width: 100%;
    padding: 0px;
  }
  header nav{
    padding-left: 5vw;
    padding-right: 5vw;
}
.main .left{
  padding-left: 0px;
}
}
